fast-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

fast-text-field {
  margin-bottom: 12px;
}

h2 {
  font-size: var(--type-ramp-plus-5-font-size);
  line-height: var(--type-ramp-plus-5-line-height);
}

fast-card>fast-button {
  align-self: flex-end;
}