::ng-deep {
  body {
    background-color: #1b1b1b !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 98vw;
  height: 3rem;
  margin-bottom: 2rem;
  color: var(--neutral-foreground-rest);
}


